<div class="home-page">
  <app-header></app-header>
  <div justify="center" class="home-page-inner-container">
    <div variant="outlined" class="home-page-admin-card">
      <form action="">
        <span class="label">Select Type:</span>
        <select
          name="complaint_type"
          style="width: 50%; margin-top: 20px"
          class="form-control"
        >
          <option>Select</option>
          <option>Landline</option>
          <option>Brodband</option>
        </select>
        <br />
        <br />
        <Button
          type="primary"
          class="home-page-login-button"
        >
          Raise Complaint
        </Button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
